.posterTvSeries {
  width: 100%;
}

.posterTvSeries .posterSlot {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.posterTvSeries .poster {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(150, 150, 150);
  cursor: pointer;
  position: relative;
  margin: 20px auto;
}

.posterTvSeries .poster:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.posterTvSeries .poster img {
  height: 250px;
  width: 175px;
  object-fit: cover;
  border-radius: 5px;
}

.posterTvSeries .poster p {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 0px 2px;
  border-radius: 3px;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: 10px;
}

.posterTvSeries .poster .title {
  margin: 5px 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  align-self: flex-start;
}

.posterTvSeries .metaData {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.posterTvSeries .metaData .dot {
  font-weight: 900;
  color: white;
}

.posterTvSeries .metaData .type {
  border: 1px solid gray;
  padding: 0px 1px;
  font-size: 13px;
}
