.featured {
  height: 90vh;
  width: 100%;
  position: relative;
  border-color: black;
}

.featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured .info {
  position: absolute;
  width: 100%;

  bottom: 00px;
  color: white;
  padding-left: 50px;
  background: rgba(1, 1, 1, 0);
  background: linear-gradient(to top, rgba(1, 1, 1, 1), rgba(255, 255, 255, 0));
}

.featured .info h1{
  width: 50%;
}

.featured .metaInfo {
  display: flex;
  align-items: center;
}

.featured .resolution {
  border: 1px solid red;
  font-weight: 600;
  color: black;
  padding: 1px 4px;
  background-color: red;
}

.featured .rating {
  display: flex;
  align-items: center;
}

.featured .rating .icon {
  margin-right: 5px;
}

.featured .info h1 {
  margin-bottom: 10px;
}

.metaInfo div {
  margin: 0px 15px 0px 0px;
}

.featured .metaInfo .duration {
  margin-right: 30px;
}

.featured .desc {
  margin-top: 15px;
  width: 50%;
}

.featured .buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.featured .buttons button {
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
