.movies {
  height: auto;
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 50px;
  color: white;
}

.movies .titleBar {
  font-size: 45px;
  font-weight: 600;
  margin-right: 30px;
  border-bottom: 1px solid white;
}

.movies .optionsTab {
  margin: 30px 0px 5px 0px;
  display: flex;
  align-items: center;
}

.movies .optionsTab > * {
  margin-right: 20px;
}

.movies button {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.movies button > * {
  margin-right: 3px;
}

.movies button span {
  margin-left: 3px;
}

.pagination {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.pagination button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: red;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.pagination button:hover {
  transform: scale(1.4);
  transition: 0.2s ease-in;
}

.pagination .button-active {
  margin: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
}
