.signUp {
  height: 85vh;
  color: white;
  position: relative;
}

.signUp .image img {
  height: 85vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  border-bottom: 7px solid gray;
}

.signUp .logo img {
  position: absolute;
  top: 30px;
  left: 40px;
  height: 50px !important;
  width: 180px;
}

.signUp .signInButton {
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 8px 15px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.signUp .signUpCard {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUp .signUpCard > * {
  margin-bottom: 25px;
}

.signUp .signUpCard h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}

.signUp .signUpCard h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
}

.signUp .signUpCard p {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
}

.signUp .inputLabel {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp input {
  height: 60px;
  width: 500px;
}

.signUp input[type="email"] {
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.signUp input[type="password"] {
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.signUp input[type="submit"] {
  height: 60px;
  width: 200px;
  background-color: red;
  border: none;
  font-size: 25px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.signUp .promoLabels {
  display: flex;
  align-items: center;
  padding: 30px 120px;
  justify-content: center;
  border-bottom: 7px solid gray;
}

.signUp .left h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.signUp .left h2 {
  font-size: 25px;
  font-weight: 500;
}

.signUp .right img {
  height: 375px;
}

.signUp .promoLabels-flipped {
  display: flex;
  align-items: center;
  padding: 30px 120px;
  justify-content: space-between;
  border-bottom: 7px solid gray;
}

.signUp .promoLabels-flipped-last {
  display: flex;
  align-items: center;
  padding: 30px 120px;
  justify-content: space-between;
  /* border-bottom: 7px solid gray; */
}
