.tvSeries {
  margin: 75px 50px 0px 50px;
}

.tvSeries .titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewAll {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.viewAll .icon {
  height: 20px;
  width: 20px;
}
.viewAll p {
  margin-right: 10px;
  font-size: 15px;
}
